* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;             
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#666;
    font-family: Arial, sans-serif;
}

.calculator-container {
    width: fit-content;
    margin: auto;
}

.calculator {
    background-color: rgb(31, 22, 30);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

html, body {
    width: 100%;
    overflow-x: hidden;   
    margin: 0 auto ;
    padding: 0 auto ;
}

  .calculator {
    display: grid;
    grid-template-columns: repeat(4, 70px); 
    gap: 10px;
    padding: 15px;
}

#display {
    grid-column: span 4;    
    width: 100%;
    height: 40px;
    font-size: 18px;
    text-align: right;
    padding: 5px 10px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-gap: 10px;
}

button {
    padding: 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #444;
    color: white;
    transition: 0.2s;
}

button:hover {
    background-color: #666;
}

button.clear {
    grid-column: span 2;
    background-color: #e74c3c;
}

button.delete {
    grid-column: span 2;
    background-color: #f39c12;
}

button.clear:hover {
    background-color: #c0392b;
}

button.delete:hover {
    background-color: #d35400;
}
